PORT=5000
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/mock_prep_db
CORS_ORIGIN=http://localhost:5173
JWT_ACCESS_SECRET=hello@$789
JWT_REFRESH_SECRET=hello@89453
JWT_RESET_SECRET=jhdsjfyuib@3$79548